<div class="page-title login-title">Welcome to Poppin!</div>

<% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>

<%= form_tag sessions_path, :class => 'form login-form' do %>
    <%= label :user, :username, 'Username', :class => 'login-form-label' %>
    <%= text_field :user, :username, :class => 'form-control' %>
    <br/>
    <br/>
    <%= label :user, :password, 'Password', :class => 'login-form-label' %>
    <%= text_field :user, :password, :class => 'form-control' %>
    <br/>
    <br/>
    <%= submit_tag 'Login', :class => 'btn btn-primary login-button' %>
    <br/>
    <%= link_to 'Create Account', new_user_path, :class => 'link' %>
<% end %>