<div class="page-title login-title">Create an Account for Your Business</div>

<% flash.each do |type, msg| %>
  <%= content_tag(:div, msg, class: "flash flash-#{type}") %>
<% end %>

<%= form_tag venue_admins_path, :class => 'form login-form' do %>
    <%= label :venue_admin, :username, 'Username', :class => 'login-form-label' %>
    <%= text_field :venue_admin, :username, :class => 'form-control' %><br><br/>

    <%= label :venue_admin, :password, 'Password', :class => 'login-form-label' %>
    <%= text_field :venue_admin, :password, :class => 'form-control' %><br><br/>

    <%= label :venue_admin, :email, 'Email', :class => 'login-form-label' %>
    <%= text_field :venue_admin, :email, :class => 'form-control' %><br><br/>
    <br/>
    <%= label :name, 'Business Name', :class => 'login-form-label' %>
    <%= text_field :venue, :name, :class => 'form-control' %><br><br/>

    <%= label :address, 'Address', :class => 'login-form-label' %>
    <%= text_field :venue, :address, :class => 'form-control' %><br><br/>

    <%= label :description, 'Description', :class => 'login-form-label' %>
    <%= text_field :venue, :description, :class => 'form-control' %><br><br/>

    <%= label :attire, 'Attire', :class => 'login-form-label' %>
    <%= select_tag :attire, options_for_select( VenueAdmin.available_attires, "casual")  %><br><br/>

    <%= label :price, 'Price', :class => 'login-form-label' %>
    <%= select_tag :price_range, options_for_select( VenueAdmin.available_price_ranges, "$")  %><br><br/>

    <%= label :type, 'Type', :class => 'login-form-label' %>
    <%= select_tag :venue_type, options_for_select( VenueAdmin.available_venue_types, "bar")  %><br><br/>
    <br/><br/>
    <%= submit_tag 'Create Account', :class => 'btn btn-primary' %>
    <br/><br/>
    <%= link_to 'Back to Login', new_sessions_path, :class => 'link' %>
<% end %>