<% provide :head_tags do %>
    <meta name='turbolinks-visit-control' content='reload'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script>
    document.addEventListener("DOMContentLoaded", function(){
        initMap(<%=@venue.latitude%>, <%=@venue.longitude%>)
    });

    var ready;
    ready = function() {
        setEditing(false);

        $("#edit-venue-button").on("click", function(){
            setEditing(true);
        });
        $("#cancel-update-venue-button").on("click", function(){
            setEditing(false);
        });

        function setEditing(status) {
            if (status) {
                document.getElementById("edit-venue-form").style.display = "block";
                document.getElementById("venue-details-container").style.display = "none";
            } else {
                document.getElementById("edit-venue-form").style.display = "none";
                document.getElementById("venue-details-container").style.display = "block";
            }
        }

    };

    $(document).ready(ready);
    $(document).on("page:load", ready);

    
    </script>
<% end %>


<%= form_tag sessions_path, :method => :delete do %>
    <%= submit_tag 'Sign Out', :class => 'sign-out btn btn-primary' %>
<% end %>

<div class="top-links">
  <%= link_to 'Create Event', new_event_path(:venue_id => @venue.id, :venue_admin_id => @venue_admin.id) %>
</div>

<div class="Dashboard-title page-title"><%= @venue.name %>'s Dashboard</div>
<div class="dashboard-body space-evenly">
    <div class="Admin-container">
        <h2 class="List-title">Your Business Info</h2><br>
        <div class="Venue-details info-bar business-info">
<%
=begin%>
  TODO: UPDATE CSS CLASSES
<%
=end%>
        <div id ='edit-venue-form'>
            <%= form_tag venue_path(:id => @venue.id), :class => 'form login-form', :method => :patch do %>
                <%= label :name, 'Business Name', :class => 'login-form-label' %>
                <%= text_field :venue, :name, :class => 'form-control' %><br><br/>

                <%= label :address, 'Address', :class => 'login-form-label' %>
                <%= text_field :venue, :address, :class => 'form-control' %><br><br/>

                <%= label :description, 'Description', :class => 'login-form-label' %>
                <%= text_field :venue, :description, :class => 'form-control' %><br><br/>

                <%= label :attire, 'Attire', :class => 'login-form-label' %>
                <%= select_tag :attire, options_for_select( VenueAdmin.available_attires, "casual")  %><br><br/>

                <%= label :price, 'Price', :class => 'login-form-label' %>
                <%= select_tag :price_range, options_for_select( VenueAdmin.available_price_ranges, "$")  %><br><br/>

                <%= label :type, 'Type', :class => 'login-form-label' %>
                <%= select_tag :venue_type, options_for_select( VenueAdmin.available_venue_types, "bar")  %><br><br/>
                <br/><br/>
                <%= submit_tag 'Update Venue', :class => 'btn btn-primary', :id => 'update-venue-button' %>
            <% end %>
            <button id="cancel-update-venue-button">Cancel</button>
        </div>
        <div id='venue-details-container'>
            <div class="Venue-description Venue-detail">
                <%= "Description: #{@venue.description}" %>
            </div>
            <div class="Venue-address Venue-detail">
                <%= "Address: #{@venue.address}" %>
            </div>
            <div class="Venue-attire Venue-detail">
                <%= "Attire: #{@venue.attire}" %>
            </div>
            <div class="Venue-price Venue-detail">
                <%= "Price Range: #{@venue.price_range}" %>
            </div>
            <div class="Venue-type Venue-detail">
                <%= "Type: #{@venue.venue_type}" %>
            </div>
            <div class="Venue-mapWrapper">
                <div id="map"></div>
            </div>
            <button id="edit-venue-button">Edit</button>
            </div>
        </div>
    </div>

    <div class="Admin-container">
        <div class="Admin-wrapper">
            <h2 class="List-title">Your Events</h2><br>
            <div class="List-content">
                <div class="Search-tabs">
                    <div class="Search-tab">
                        <%= link_to "Past Events", events_path %>
                    </div>
                    <div class="Search-tab highlight">
                        Upcoming Events
                    </div>
                </div>
                <div class="List-tableWrapper">
                    <table class="List-table table table-striped col-md-12" id="venues">
                        <tbody>
                            <% @events.each do |event| %>
                                <tr class="List-row" border="1">
                                    <td class="List-item">
                                        <%= link_to "#{event.name} @ #{event.venue_name}, #{event.date.strftime("%B %-d, %Y %H:%M")}", event_path(event) %>
                                    </td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>