<div class="page-title login-title">Create an Account</div>

<% flash.each do |type, msg| %>
  <%= content_tag(:div, msg, class: "flash flash-#{type}") %>
<% end %>

<%= form_tag users_path, :class => 'form login-form', multipart: true do %>
    <%= label :user, :username, 'Username', :class => 'login-form-label' %>
    <%= text_field :user, :username, :class => 'form-control' %><br><br/>
    <%= label :user, :password, 'Password', :class => 'login-form-label' %>
    <%= text_field :user, :password, :class => 'form-control' %><br><br/>
    <%= label :user, :email, 'Email', :class => 'login-form-label' %>
    <%= text_field :user, :email, :class => 'form-control' %><br><br/>
    <%= label :user, :age, 'Age', :class => 'login-form-label' %>
    <%= number_field :user, :age, :class => 'form-control' %>
    <br/><br/>
    <%= label :user, :profile_image, 'Profile Picture', :class => 'login-form-label' %>
    <%= file_field :user, :profile_image %><br/><br/>
    <%= submit_tag 'Create Account', :class => 'btn btn-primary' %>
    <br/><br/>
    <%= link_to 'Back to Login', new_sessions_path, :class => 'link' %>
<% end %>