<%= form_tag sessions_path, :method => :delete do %>
    <%= submit_tag 'Sign Out', :class => 'sign-out btn btn-primary' %>
<% end %>

<div class="top-links">
  <%= link_to 'Find Friends', users_path %>
  <%= link_to 'Search Events', events_path%>
  <%= link_to 'Search Venues', venues_path%>
  <%= link_to 'See What My Friends are Up To', events_path(:saved_by => User.followed_by(@user.id).map { |u| u.id }.join(','))%>
</div>

<div class="Dash-topWrapper">
    <div class="User-imageWrapper">
        <%= image_tag(@user.profile_image, class: 'User-image') if @user.profile_image.attached? %>
    </div>    
    <div class="Dashboard-title page-title"><%= @user.username %>'s Dashboard</div>
</div>
<div class="Lists-container">
    <div class="List-wrapper">
        <h2 class="List-title">Your Saved Events</h2>
        <div class="List-content">
            <div class="Search-tabs">
                <div class="Search-tab <% if @past %>highlight<% end %>">
                    <%= link_to "Past Events", user_path(:past => true) %>
                </div>
                <div class="Search-tab <% if not @past %>highlight<% end %>">
                    <%= link_to "Upcoming Events", user_path %>
                </div>
            </div>
            <div class="List-tableWrapper">
                <table class="List-table table table-striped col-md-12" id="venues">
                    <tbody>
                        <% @events.each do |event| %>
                            <tr class="List-row" border="1">
                                <td class="List-item">
                                    <%= link_to "#{event.name} @ #{event.venue_name}, #{event.date.strftime("%B %-d, %Y %H:%M")}", event_path(event) %>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="List-wrapper">
        <h2 class="List-title">Your Favorite Venues</h2>
        <div class="List-content">
            <div class="List-tableWrapper">
                <table class="List-table table table-striped col-md-12" id="venues">
                    <tbody>
                        <% @venues.each do |venue| %>
                            <tr class="List-row" border="1">
                                <td class="List-item">
                                    <%= link_to "#{venue.venue_type}: #{venue.name}, #{venue.price_range}", venue_path(venue) %>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>