<% provide :head_tags do %>
    <meta name='turbolinks-visit-control' content='reload'>
    <script>
    document.addEventListener("DOMContentLoaded", function(){
        initMultiMapPage(<%= raw @events %>)

    });
    </script>
<% end %>

<div class="header">
    <%= form_tag sessions_path, :method => :delete do %>
        <%= submit_tag 'Sign Out', :class => 'sign-out btn btn-primary' %>
    <% end %>

    <div class="top-links">
        <% if session[:user_type] == 'user' -%>
            <%= link_to "My Dashboard", user_path(session[:user_id]) %>
        <% else -%>
            <%= link_to "My Dashboard", venue_admin_path(session[:user_id]) %>
        <% end -%>  
        <%= link_to 'Find Friends', users_path %>
        <%= link_to 'Search Events', events_path%>
        <%= link_to 'Search Venues', venues_path%>
    </div>
</div>
<h2 class="page-title login-title">Events Map View</h2>
<div class="Events-mapWrapper">
    <div class="Events-map">
        <div id="map" /div>
    </div>
</div>
