<div class="List-wrapper">
    <% flash.each do |type, msg| %>
        <%= content_tag(:div, msg, class: "flash flash-#{type}") %>
    <% end %>
    <h2 class="List-title">All Events</h2>
    <div class="List-content">
        <%# TODO: Filter functionality %>
        <div class="Search-tabs">
            <div class="Search-tab highlight">
                Events
            </div>
            <div class="Search-tab">
                <%= link_to "Venues", venues_path %>
            </div>
        </div>
        <div class="List-tableWrapper">
            <div class="Search-search">
                <div class="Search-searchBarWrapper">
                    <div class="Search-searchBar">
                        <%= form_tag events_path, :class => 'form' do %>
                            <%= text_field :event, :name, :class => 'form-control' %>
                            <%= submit_tag 'Search', :class => 'Search-submit btn btn-primary' %>
                        <% end %>
                    </div>
                </div>
                <div class="Search-filterWrapper">
                    <button class="Search-filterButton btn">
                        Filter
                    </button>
                </div>
            </div>
            <table class="List-table table table-striped col-md-12" id="events">
                <tbody>
                    <% @events.each do |event| %>
                        <tr class="List-row" border="1">
                            <td class="List-item">
                                <%= link_to "#{event.name} @ #{event.venue.name}, #{event.date.strftime("%B %-d, %Y %H:%M")}", event_path(event) %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>