<div class="List-wrapper">
    <% flash.each do |type, msg| %>
        <%= content_tag(:div, msg, class: "flash flash-#{type}") %>
    <% end %>
    <% if session[:user_type] == 'user' -%>
        <%= link_to "My Dashboard", user_path(session[:user_id]) %>
    <% else -%>
        <%= link_to "My Dashboard", venue_admin_path(session[:user_id]) %>
    <% end -%>
    <h2 class="List-title page-title">All Events</h2>
    <div class="List-content">
        <div class="Search-tabs">
            <div class="Search-tab highlight">
                Events
            </div>
            <div class="Search-tab">
                <%= link_to "Venues", venues_path %>
            </div>
        </div>
        <div class="List-tableWrapper">
            <div class="Filters-wrapper">
                <%= form_tag events_url, method: :get, class: "Filters-form" do %>
                    <%= label_tag :search %>
                    <%= search_field_tag :search, params[:search], class: "Search-bar" %><br><br>

                    <%= label_tag :filter_event_type, "Event Type:" %>
                    <%= select_tag :filter_event_type, options_for_select(Event.available_event_types, params[:filter_event_type]), include_blank: true, class: "form-select" %>       

                    <%= label_tag :filter_price_range, "Price Range:" %>
                    <%= select_tag :filter_price_range, options_for_select(Event.available_price_ranges, params[:filter_price_range]), include_blank: true, class: "form-select" %>
                    
                    <%= label_tag :filter_attire, "Usual Attire:" %>
                    <%= select_tag :filter_attire, options_for_select(Event.available_attires, params[:filter_attire]), include_blank: true, class: "form-select" %>

                    <%= label_tag :filter_date, "Date:" %>
                    <%= select_tag :filter_date, options_for_select(Event.available_dates, params[:filter_date]), include_blank: true, class: "form_select" %>

                    <%= submit_tag "Go", class: "btn" %>
                <% end %>
                <button id="full_map_view">View Full Map</button>
            </div>      
            <table class="List-table table table-striped col-md-12" style="width 80%" id="events">
                <tbody>
                    <% @events.each do |event| %>
                        <tr class="List-row">
                            <td class="List-item">
                                <% if event.venue != nil -%>
                                    <%= link_to "#{event.name} @ #{event.venue.name}, #{event.date.strftime("%B %-d, %Y %H:%M")}", event_path(event) %>
                                <% else -%>
                                    <%= link_to "#{event.name}, #{event.date.strftime("%B %-d, %Y %H:%M")}", event_path(event) %>
                                <% end -%>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>