<div class="page-title login-title">Create an Event</div>

<% if flash[:notice] %>
  <%= content_tag :h1, flash[:notice] %>
<% end %>

<%= form_tag events_path, :class => 'form login-form' do %>
    <%= label :event, :name, 'Event Name', :class => 'login-form-label' %>
    <%= text_field :event, :name, :class => 'form-control' %><br><br/>
    <%= label :event, :description, 'Description', :class => 'login-form-label' %>
    <%= text_field :event, :description, :class => 'form-control' %><br><br/>
    <%= label :event, :date, 'Datetime', :class => 'login-form-label' %>
    <%= datetime_select :event, :date, :ampm => true, :minute_step => 15 %><br><br/>
    <%= label :event, :duration, 'Duration (minutes)', :class => 'login-form-label' %>
    <%= number_field :event, :duration, :class => 'form-control' %><br><br/>

    <%= label :attire, 'Attire', :class => 'login-form-label' %>
    <%= select_tag :attire, options_for_select( Event.available_attires, "casual")  %><br><br/>

    <%= label :price, 'Price', :class => 'login-form-label' %>
    <%= select_tag :price_range, options_for_select( Event.available_price_ranges, "$")  %><br><br/>

    <%= label :type, 'Type', :class => 'login-form-label' %>
    <%= select_tag :venue_type, options_for_select( Event.available_event_types, "bar")  %><br><br/>

    <%= hidden_field_tag :venue_id, @venue_id  %>
    <%= hidden_field_tag :venue_admin_id, @venue_admin_id  %>

    <br/><br/>
    <%= submit_tag 'Create Event', :class => 'btn btn-primary' %>
    <br/><br/>
    <%= link_to 'Back to Dashboard', venue_admin_path(id: @venue_admin_id), :class => 'link' %>
<% end %>
