<div class="page-title login-title">Create an Event</div>

<% flash.each do |type, msg| %>
  <%= content_tag(:div, msg, class: "flash flash-#{type}") %>
<% end %>
<div class="header">
  <%= form_tag sessions_path, :method => :delete do %>
    <%= submit_tag 'Sign Out', :class => 'sign-out btn btn-primary' %>
  <% end %>

  <div class="top-links">
    <%= link_to "My Dashboard", venue_admin_path(session[:user_id]) %>
  </div>
</div>

<%= form_tag events_path, :class => 'form login-form', multipart: true do %>
    <%= label :event, :name, 'Event Name', :class => 'login-form-label' %>
    <%= text_field :event, :name, :class => 'form-control' %><br><br/>
    <%= label :event, :description, 'Description', :class => 'login-form-label' %>
    <%= text_field :event, :description, :class => 'form-control' %><br><br/>
    <%= label :event, :date, 'Datetime', :class => 'login-form-label' %>
    <%= datetime_select :event, :date, :ampm => true, :minute_step => 15 %><br><br/>
    <%= label :event, :duration, 'Duration (minutes)', :class => 'login-form-label' %>
    <%= number_field :event, :duration, :class => 'form-control' %><br><br/>

    <%= label :attire, 'Attire', :class => 'login-form-label' %>
    <%= select_tag :attire, options_for_select( Event.available_attires, "casual")  %><br><br/>

    <%= label :price, 'Price', :class => 'login-form-label' %>
    <%= select_tag :price_range, options_for_select( Event.available_price_ranges, "$")  %><br><br/>

    <%= label :type, 'Type', :class => 'login-form-label' %>
    <%= select_tag :venue_type, options_for_select( Event.available_event_types, "bar")  %><br><br/>

    <%= label :event, :event_image, 'Event Image', :class => 'login-form-label' %>
    <%= file_field :event, :event_image %>

    <%= hidden_field_tag :venue_id, @venue_id  %>
    <%= hidden_field_tag :venue_admin_id, @venue_admin_id  %>

    <br/><br/>
    <%= submit_tag 'Create Event', :class => 'btn btn-primary' %>
    <br/><br/>
<% end %>
