<% provide :head_tags do %>
    <meta name='turbolinks-visit-control' content='reload'>
    <script>
    document.addEventListener("DOMContentLoaded", function(){
        initMap(<%=@event.latitude%>, <%=@event.longitude%>)
    });
    </script>
<% end %>


<div class="Event-detailsPage">
    <div class="Event-link">
        <%= link_to "All Events", events_path %>
        <%= link_to "My Dashboard", user_path %>
    </div>
    <h2 class="Event-name">
        <% if @event.venue != nil -%>
            <%= link_to "#{@event.name} @ #{@event.venue.name}, #{@event.date.strftime("%B %-d, %Y %H:%M")}", event_path(@event) %>
        <% else -%>
            <%= link_to "#{@event.name}, #{@event.date.strftime("%B %-d, %Y %H:%M")}", event_path(@event) %>
        <% end -%>    
    </h2>
    <div class="Event-info">
        <div class="Event-infoTop">
            <%# TODO: Event image %>
            <div class="Event-imageWrapper">
                image placeholder
            </div>
            <%# TODO: Map image %>
            <div class="Event-mapWrapper">
                <p>
                <div id="map"></div>
                </p>
            </div>
        </div>
        <div class="Event-infoBottom">
            <div class="Event-details">
                <div class="Event-description Event-detail">
                    <%= @event.name %>
                </div>
                <div class="Event-attire Event-detail">
                    <%= @event.attire %>
                </div>
                <div class="Event-price Event-detail">
                    <%= @event.price_range %>
                </div>
                <%# TODO: Save button functionality %>
                <button class="Event-save btn">
                    Save
                </button>
            </div>
            <%# TODO: Friends section %>
            <div class="Event-friendsWrapper">
                <div class="Event-friendsTitle">
                    My friends who saved
                </div> 
            </div>
        </div>
    </div>
</div>