<% provide :head_tags do %>
    <meta name='turbolinks-visit-control' content='reload'>
    <script>
    document.addEventListener("DOMContentLoaded", function(){
        initMap(<%=@event.latitude%>, <%=@event.longitude%>)
    });
    </script>
<% end %>



<div class="Event-detailsPage">
    <% flash.each do |type, msg| %>
        <%= content_tag(:div, msg, class: "flash flash-#{type}") %>
    <% end %>    
    <div class="Event-link top-links">
        <%= link_to "All Events", events_path %>
        <% if session[:user_type] == 'user' -%>
            <%= link_to "My Dashboard", user_path(session[:user_id]) %>
        <% else -%>
            <%= link_to "My Dashboard", venue_admin_path(session[:user_id]) %>
        <% end -%>  
    </div>
    <h2 class="Event-name page-title">
        <% if @event.venue != nil -%>
            <%= "#{@event.name} @ #{@event.venue.name}, #{@event.date.strftime("%B %-d, %Y %H:%M")}"%>
        <% else -%>
            <%= "#{@event.name}, #{@event.date.strftime("%B %-d, %Y %H:%M")}"%>
        <% end -%>    
    </h2>
    <div class="Event-info">
        <div class="Event-infoTop">
            <div class="Event-imageWrapper">
                <%= image_tag(@event.event_image) if @event.event_image.attached? %>
            </div>
            <div class="Event-mapWrapper">
                    <div id="map"></div>
            </div>
        </div>
        <div class="Event-infoBottom">
            <div class="Event-details info-bar">
                <div class="Event-description Event-detail">
                    <%= @event.name %>
                </div>
                <div class="Venue-address Venue-detail">
                    <%= @event.address %>
                </div>
                <div class="Event-attire Event-detail">
                    <%= "attire: #{@event.attire}" %>
                </div>
                <div class="Event-price Event-detail">
                    <%= @event.price_range %>
                </div>
                <% if session[:user_id] != nil and User.is_event_saved?(session[:user_id], @event.id) %>
                    <%= button_to "Remove saved event", unsave_event_path(:id => session[:user_id], :event_id => @event.id), method: "delete", class:'btn Save-button' %>
                <% else %>
                    <%= button_to "Save event", save_event_path(:id => session[:user_id], :event_id => @event.id), method: "put", class: 'btn Save-button' %>
                <% end %>
            </div>
            <%# TODO: Friends section %>
            <div class="Event-friendsWrapper info-bar">
                <% if @friends_who_saved.length() > 0 %>
                    <div class="Event-friendsTitle">
                        My friends who saved:
                    </div>
                    <table class="List-table table table-striped col-md-12" id="events">
                        <tbody>
                            <% @friends_who_saved.each do |friend| %>
                                <tr class="List-row" border="1">
                                    <td class="List-item">
                                        <%# TODO: Maybe link to user profile (if we want to implement that feature) %>
                                        <%= friend.username %>
                                    </td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                <% else %>
                    <div class="Venue-eventsTitle">
                        No friends have saved
                    </div>         
                <% end %>
            </div>
        </div>
    </div>
</div>