<% provide :head_tags do %>
    <meta name='turbolinks-visit-control' content='reload'>
    <%= puts(@venue.latitude) %>
    <script>
    document.addEventListener("DOMContentLoaded", function(){
        initMap(<%=@venue.latitude%>, <%=@venue.longitude%>)
    });
    </script>
<% end %>

<div class="Venue-detailsPage">
    <div class="Venue-links">
        <%= link_to "All Venues", venues_path %>
        <%= link_to "My Dashboard", user_path %>
    </div>
    <h2 class="Venue-name">
        <%= @venue.name %>
    </h2>
    <div class="Venue-info">
        <div class="Venue-infoTop">
            <%# TODO: Venue image %>
            <div class="Venue-imageWrapper">
                placeholder
            </div>
            <%# TODO: Map image %>
            <div class="Venue-mapWrapper">
                <p>
                <div id="map"></div>
                </p>
            </div>
        </div>
        <div class="Venue-infoBottom">
            <div class="Venue-details">
                <div class="Venue-description Venue-detail">
                    <%= @venue.name %>
                </div>
                <div class="Venue-attire Venue-detail">
                    <%= @venue.attire %>
                </div>
                <div class="Venue-price Venue-detail">
                    <%= @venue.price_range %>
                </div>
                <%# TODO: Save button functionality %>
                <button class="Venue-save btn">
                    Save as favorite bar
                </button>
            </div>
            <div class="Venue-eventsWrapper">
                <% if @venue_events.length() > 0 %>
                    <div class="Venue-eventsTitle">
                        Upcoming events:
                    </div>
                    <table class="List-table table table-striped col-md-12" id="events">
                        <tbody>
                            <% @venue_events.each do |event| %>
                                <tr class="List-row" border="1">
                                    <td class="List-item">
                                        <%= link_to "#{event.name} @ #{event.venue.name}, #{event.date.strftime("%B %-d, %Y %H:%M")}", event_path(event) %>
                                    </td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                <% else %>
                    <div class="Venue-eventsTitle">
                        No upcoming events
                    </div>         
                <% end %>
            </div>
        </div>
    </div>
</div>