<!DOCTYPE html>
<html>
  <head>
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key='+Rails.application.credentials.google_maps_api_key %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield(:head_tags) %>
    <title>Poppin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <div class="divider-1"></div>
  <h1>POPPIN</h1>
  <div class="dots">
    <span class="dot"></span>
    <span class="dot dot-2"></span>
    <span class="dot dot-3"></span>
  </div>
  <div class="divider-2"></div>
  <body>
    <%= yield %>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function($) {
    $( "#full_map_view" ).click(function() {
  
        var search = document.querySelector('#search').value;
        var filter_event_type = document.querySelector('#filter_event_type').value;
        var filter_price_range = document.querySelector('#filter_price_range').value;
        var filter_attire = document.querySelector('#filter_attire').value;

        console.log({search,filter_event_type, filter_price_range, filter_attire})

        var pathString = `/display_full_map?search=${search}&filter_attire=${filter_attire}&filter_event_type=${filter_event_type}&filter_price_range=${filter_price_range}`;
        var protocol = window.location.protocol + '//';
        var host = window.location.host;
        window.location.href = protocol + host + pathString

    });
    });

</script>
  </body>
  
</html>
